header {
    background-color: white;
    color: rgb(33, 46, 33);
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid rgb(22, 50, 22);
}

.menu {
    background-color: white;
    padding: 10px 20px;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end; 
    gap: 15px;
}

.menu ul li a {
    text-decoration: none;
    color: rgb(22, 50, 22);
    font-weight: bold;
    background-color: rgb(220, 220, 220);
    padding: 8px 12px;
    transition: background-color 0.3s;
}

.menu ul li a:hover {
    background-color: rgb(154, 241, 154);
}

.content {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 20px;
    background: rgb(154, 241, 154);
}

.block {
    background: white;
    padding: 10px;
    width: calc(25% - 100px);
    min-height: 100px;
    min-width: 100px;
    box-sizing: border-box;
    text-align: left;
}

.lang span {
    display: inline-block;
    text-align: left;
    margin: 10px auto;
    padding: 8px 12px;
    font-size: 18px;
    color: black; 
    font-weight: bold;
    background: none;
    border-radius: 0;
}

.description {
    font-size: 16px;
    text-align: justify;
    color: black;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .block {
        width: 100%;
    }

    .menu ul {
        justify-content: flex-end; 
    }
}